@import url("https://fonts.googleapis.com/css2?family= Kdam+Thmor+Pro & display=swap");
* {
   
   outline: none;
    
    font-family: 'Kdam Thmor Pro', sans-serif;
  }
  .title{
    font-size: 35px;
    color: $white-dark;
    margin-left: auto;
    
  }
 .description-form{
  font-size: 25px;
  color: $red-dark;
  font: bold;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  align-items: center;
  justify-content: center;
 }

  .formulario{
    
    padding: 80px 40%;
    background-image: url(/assets/Fotos/batman-contato1.avif);
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
  }
    
    
  
   
  .formulario{
    position: relative;
  }
  
    
   form{
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
   }

   form input,form textarea{
    width: 140%;
    background-color:rgba(153, 153, 153, 0.344);
    border: 0;
    padding: 8px 8px;
    border-radius: 15px;
    color: $white-dark;
    font-size: 15px;
   }
   form input::placeholder{
    color: $red-dark;
   }
   textarea::placeholder{
    color: $red-dark;
  }
  form textarea{
    resize: none;
    max-height: 200px;
  }
  form .btn-enviar{
    margin-top: 10px;
    text-align: center;
    margin-left: 70px;
   
  }
  form .btn-enviar input[type=submit]{
    color: $white-dark;
    width: 100%;  
    margin: auto;
    background-color: $red-dark; 
    height: 7vh;
    font-weight: 700;
    cursor: pointer;
  }

  button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px $red-dark;
    transform: scale(1.05);
    transition: .3s;
  }
  
  form .btn-enviar2{
    background-color: $secundary-dark;
  }
  form .btn-enviar2:hover{
    box-shadow: 0px 0px 8px $red-dark;
    transform: scale(1.05);
    transition: .3s;
  }
  @media screen and (max-width: 768px){
    .formulario{
     margin: auto;
     
    }
    .description-form{
     margin-left: 80px;
    }
    .title{
      margin-left: 80px;
    }
    form input{
    width: 300%;
    
   }
   form textarea{
    
    width: 300%;
   }
   form .btn-enviar{
    width: 130%;
   }
   form .btn-enviar2{
    width: 300%;
   }
  }
 